<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staff Engineer</h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">6DGlobal, Cincinnati OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provide clients with innovative and complete web solutions in Adobe Experience Manager/CQ. Development primarily in Java, JavaScript, and CSS using the Eclipse IDE and Maven.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Administrator</h3>
                            <div class="time">2013 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">6DGlobal, Cincinnati OH</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Image new and re-appointed workstations for employees. Install, configure and maintain server systems. Troubleshoot application/OS/hardware issues on employee workstations. Perform Asset tracking for site. Support Adobe DayCQ/Experience Manager installation/administration on client server systems.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Northern Kentucky University, Highland Heights KY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As part of the IT Research and Development organization, code/test enhancements or fixes to web based applications. Additionally, working within content management systems utilized on campus and Microsoft Sharepoint. Provides professional, technical support to faculty, staff, and students. Coding done primarily in PHP and Javascript.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Support Specialist</h3>
                            <div class="time">2008 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Northern Kentucky University, Highland Heights KY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Image new and re-appointed workstations for employees. Install, configure and maintain server systems. Troubleshoot application/OS/hardware issues on employee workstations. Perform Asset tracking for site. Support Adobe DayCQ/Experience Manager installation/administration on client server systems.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
