<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below is a list of projects that I have been a member of, these are in order of oldest to most recent.</p>
                </div><hr><!--//intro-->
                <div class="item">
                    <span class="project-title">
                      <a href="http://www.davidyurman.com" target="_blank">David Yurman</a>
                    </span> - March 2016 -- June 2016
                    <span class="project-tagline">Provided full stack AEM installation/configuration for two environment tiers on a cloud hosting platform. Configured instances for multiple third party integrations. Participating member of smoke testing and tuning sessions. Worked with multiple vendors to ensure the AEM stack worked as expected within the entire technology stack the organization was utilizing.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      Lingotek Inside AEM Connector
                    </span> - Starting Jan 2016 -
                    <span class="project-tagline">Performed development on Translation Connector integration using Java, Maven, Eclipse and Adobe Experience Manager 6.1. This allows CQ/AEM users to translate any specified content to any language through the use of Lingotek's translation API service.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      ST Microelectronics
                    </span> - July 2014 -- Jan. 2016 -
                    <span class="project-tagline">Performed back-end development in Java to customize AEM/CQ to meet the business needs of the company for one of the most technically complex implementations of AEM. Provided Linux system support for legacy environment as well as new AWS environment.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      Lingotek Inside AEM Connector
                    </span> - Dec. 2014 -- Feb 2015 -
                    <span class="project-tagline">Performed development on Translation Connector integration using Java, Maven, Eclipse and Adobe Experience Manager 6.1. This allows CQ/AEM users to translate any specified content to any language through the use of Lingotek's translation API service.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      Xilinx
                    </span> - Sept. 2014 -- Oct. 2014 -
                    <span class="project-tagline">Provided benchmarking and analysis of pre-production AEM instances. Performed heap dump analysis along with I/O benchmarking analysis on the hosting system. Was able to provide root cause analysis as to why the AEM instance was not meeting performance goals.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      Academy of Art University
                    </span> - March 2014 -
                    <span class="project-tagline">Performed component development for use within the new AEM system in use at AAU. Provided template development for use throughout the redesigned site. Performed bug fixes/enhancement development when needed. Most development performed using Eclipse IDE/Java/JSP/JS</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      Pearson Publishing
                    </span> - August 2013 -
                    <span class="project-tagline">Provided systems support for multi-tier CQ deployment. Provided best practices guidance to systems team regarding multi-site mappings utilized in CQ for roughly 50 mini-sites along with dispatcher caching strategies.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://directory.nku.edu/" target="_blank">FindIt! Directory (now Directory)</a></span> -
                    <span class="project-tagline">Redesigned the campus wide directory web application used by 2,000+ staff/faculty members and 15,000+ students. Previously written in Classic ASP with no documentation. Re-written using CodeIgniter PHP Framework and Jquery. Datastore: MSSQL.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://prospect.nku.edu/" target="_blank">Admissions Prospect Redesign</a></span> - <span class="project-tagline">Designed system to replace legacy .NET based Admissions Prospect information gathering high traffic web application. Prospective Students use the application to request additional information/materials from campus admissions office. No source code or documentation to assists with functionality spec. of project.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://campuscampaign.nku.edu/login" target="_blank">Campus Campaign</a></span> - 2012 - <span class="project-tagline">Re-implemented a campus campaign donations page from RSForms to a custom CodeIgniter PHP application. Form consisted of demographics and designations portions. Web Application used by 2,000+ Faculty and Staff to donate to the Campus. Complete with LDAP based login and auto-population of form fields based on MS SQL query.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://scoop.nku.edu/" target="_blank">Student Centered Online Orientation Project (SCOOP)</a></span> - 2011 - <span class="project-tagline">Created a new online orientation website/application for the New Student Organization. This website would allow distance students to complete Northern Kentucky University's required New Student Orientation from the comfort of their apartment, home, couch, etc.</span>
                </div><!--//item-->
            </section><!--//section-->
